body {
  margin: 0;
  font-family: "Roboto";
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
}
.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; /*removed the no wrap default value of nav so we can align its contents*/
  gap: 25px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
